In [27]:
#importación de librerias

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LassoCV, RidgeCV, ElasticNetCV
from sklearn.metrics import mean_squared_error, r2_score

In [28]:
# Carga del dataset
df = pd.read_csv('weatherAUS.csv')

# Ver primeras filas
print(df.head())

         Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1  2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2  2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3  2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4  2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN

  WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
0           W           44.0          W  ...        71.0         22.0
1         WNW           44.0        NNW  ...        44.0         25.0
2         WSW           46.0          W  ...        38.0         30.0
3          NE           24.0         SE  ...        45.0         16.0
4           W           41.0        ENE  ...        82.0         33.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1007.7       1007.1       8.0       NaN     16.9     21.8         No
1       1010.6       1007.8       NaN       NaN     17.2     24.3         No
2       1007.6       1008.7       NaN       2.0     21.0     23.2         No
3       1017.6       1012.8       NaN       NaN     18.1     26.5         No
4       1010.8       1006.0       7.0       8.0     17.8     29.7         No

   RainTomorrow
0            No
1            No
2            No
3            No
4            No

[5 rows x 23 columns]

In [29]:
print("Ubicaciones únicas:", sorted(df['Location'].unique()))
print("Cantidad de ubicaciones únicas:", df['Location'].nunique())

Ubicaciones únicas: ['Adelaide', 'Albany', 'Albury', 'AliceSprings', 'BadgerysCreek', 'Ballarat', 'Bendigo', 'Brisbane', 'Cairns', 'Canberra', 'Cobar', 'CoffsHarbour', 'Dartmoor', 'Darwin', 'GoldCoast', 'Hobart', 'Katherine', 'Launceston', 'Melbourne', 'MelbourneAirport', 'Mildura', 'Moree', 'MountGambier', 'MountGinini', 'Newcastle', 'Nhil', 'NorahHead', 'NorfolkIsland', 'Nuriootpa', 'PearceRAAF', 'Penrith', 'Perth', 'PerthAirport', 'Portland', 'Richmond', 'Sale', 'SalmonGums', 'Sydney', 'SydneyAirport', 'Townsville', 'Tuggeranong', 'Uluru', 'WaggaWagga', 'Walpole', 'Watsonia', 'Williamtown', 'Witchcliffe', 'Wollongong', 'Woomera']
Cantidad de ubicaciones únicas: 49

In [30]:
print(df['Location'].value_counts())

Location
Canberra            3436
Sydney              3344
Adelaide            3193
Darwin              3193
Hobart              3193
Perth               3193
Melbourne           3193
Brisbane            3193
Albury              3040
MountGinini         3040
GoldCoast           3040
Wollongong          3040
MountGambier        3040
Launceston          3040
AliceSprings        3040
Albany              3040
Townsville          3040
Bendigo             3040
Cairns              3040
Ballarat            3040
Penrith             3039
Newcastle           3039
Tuggeranong         3039
PerthAirport        3009
Williamtown         3009
Cobar               3009
BadgerysCreek       3009
SydneyAirport       3009
Richmond            3009
Moree               3009
CoffsHarbour        3009
NorfolkIsland       3009
WaggaWagga          3009
Witchcliffe         3009
Watsonia            3009
Dartmoor            3009
Portland            3009
Sale                3009
MelbourneAirport    3009
Mildura             3009
Nuriootpa           3009
Woomera             3009
PearceRAAF          3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Nhil                1578
Katherine           1578
Uluru               1578
Name: count, dtype: int64

In [31]:
# Dimensiones
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

# Información general y resumen estadístico
df.info()
print(df.describe(include='all'))

Filas: 145460, Columnas: 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB
              Date  Location        MinTemp        MaxTemp       Rainfall  \
count       145460    145460  143975.000000  144199.000000  142199.000000
unique        3436        49            NaN            NaN            NaN
top     2017-06-24  Canberra            NaN            NaN            NaN
freq            49      3436            NaN            NaN            NaN
mean           NaN       NaN      12.194034      23.221348       2.360918
std            NaN       NaN       6.398495       7.119049       8.478060
min            NaN       NaN      -8.500000      -4.800000       0.000000
25%            NaN       NaN       7.600000      17.900000       0.000000
50%            NaN       NaN      12.000000      22.600000       0.000000
75%            NaN       NaN      16.900000      28.200000       0.800000
max            NaN       NaN      33.900000      48.100000     371.000000

         Evaporation      Sunshine WindGustDir  WindGustSpeed WindDir9am  ...  \
count   82670.000000  75625.000000      135134  135197.000000     134894  ...
unique           NaN           NaN          16            NaN         16  ...
top              NaN           NaN           W            NaN          N  ...
freq             NaN           NaN        9915            NaN      11758  ...
mean        5.468232      7.611178         NaN      40.035230        NaN  ...
std         4.193704      3.785483         NaN      13.607062        NaN  ...
min         0.000000      0.000000         NaN       6.000000        NaN  ...
25%         2.600000      4.800000         NaN      31.000000        NaN  ...
50%         4.800000      8.400000         NaN      39.000000        NaN  ...
75%         7.400000     10.600000         NaN      48.000000        NaN  ...
max       145.000000     14.500000         NaN     135.000000        NaN  ...

          Humidity9am    Humidity3pm   Pressure9am    Pressure3pm  \
count   142806.000000  140953.000000  130395.00000  130432.000000
unique            NaN            NaN           NaN            NaN
top               NaN            NaN           NaN            NaN
freq              NaN            NaN           NaN            NaN
mean        68.880831      51.539116    1017.64994    1015.255889
std         19.029164      20.795902       7.10653       7.037414
min          0.000000       0.000000     980.50000     977.100000
25%         57.000000      37.000000    1012.90000    1010.400000
50%         70.000000      52.000000    1017.60000    1015.200000
75%         83.000000      66.000000    1022.40000    1020.000000
max        100.000000     100.000000    1041.00000    1039.600000

            Cloud9am      Cloud3pm        Temp9am       Temp3pm  RainToday  \
count   89572.000000  86102.000000  143693.000000  141851.00000     142199
unique           NaN           NaN            NaN           NaN          2
top              NaN           NaN            NaN           NaN         No
freq             NaN           NaN            NaN           NaN     110319
mean        4.447461      4.509930      16.990631      21.68339        NaN
std         2.887159      2.720357       6.488753       6.93665        NaN
min         0.000000      0.000000      -7.200000      -5.40000        NaN
25%         1.000000      2.000000      12.300000      16.60000        NaN
50%         5.000000      5.000000      16.700000      21.10000        NaN
75%         7.000000      7.000000      21.600000      26.40000        NaN
max         9.000000      9.000000      40.200000      46.70000        NaN

        RainTomorrow
count         142193
unique             2
top               No
freq          110316
mean             NaN
std              NaN
min              NaN
25%              NaN
50%              NaN
75%              NaN
max              NaN

[11 rows x 23 columns]
              Date  Location        MinTemp        MaxTemp       Rainfall  \
count       145460    145460  143975.000000  144199.000000  142199.000000
unique        3436        49            NaN            NaN            NaN
top     2017-06-24  Canberra            NaN            NaN            NaN
freq            49      3436            NaN            NaN            NaN
mean           NaN       NaN      12.194034      23.221348       2.360918
std            NaN       NaN       6.398495       7.119049       8.478060
min            NaN       NaN      -8.500000      -4.800000       0.000000
25%            NaN       NaN       7.600000      17.900000       0.000000
50%            NaN       NaN      12.000000      22.600000       0.000000
75%            NaN       NaN      16.900000      28.200000       0.800000
max            NaN       NaN      33.900000      48.100000     371.000000

         Evaporation      Sunshine WindGustDir  WindGustSpeed WindDir9am  ...  \
count   82670.000000  75625.000000      135134  135197.000000     134894  ...
unique           NaN           NaN          16            NaN         16  ...
top              NaN           NaN           W            NaN          N  ...
freq             NaN           NaN        9915            NaN      11758  ...
mean        5.468232      7.611178         NaN      40.035230        NaN  ...
std         4.193704      3.785483         NaN      13.607062        NaN  ...
min         0.000000      0.000000         NaN       6.000000        NaN  ...
25%         2.600000      4.800000         NaN      31.000000        NaN  ...
50%         4.800000      8.400000         NaN      39.000000        NaN  ...
75%         7.400000     10.600000         NaN      48.000000        NaN  ...
max       145.000000     14.500000         NaN     135.000000        NaN  ...

          Humidity9am    Humidity3pm   Pressure9am    Pressure3pm  \
count   142806.000000  140953.000000  130395.00000  130432.000000
unique            NaN            NaN           NaN            NaN
top               NaN            NaN           NaN            NaN
freq              NaN            NaN           NaN            NaN
mean        68.880831      51.539116    1017.64994    1015.255889
std         19.029164      20.795902       7.10653       7.037414
min          0.000000       0.000000     980.50000     977.100000
25%         57.000000      37.000000    1012.90000    1010.400000
50%         70.000000      52.000000    1017.60000    1015.200000
75%         83.000000      66.000000    1022.40000    1020.000000
max        100.000000     100.000000    1041.00000    1039.600000

            Cloud9am      Cloud3pm        Temp9am       Temp3pm  RainToday  \
count   89572.000000  86102.000000  143693.000000  141851.00000     142199
unique           NaN           NaN            NaN           NaN          2
top              NaN           NaN            NaN           NaN         No
freq             NaN           NaN            NaN           NaN     110319
mean        4.447461      4.509930      16.990631      21.68339        NaN
std         2.887159      2.720357       6.488753       6.93665        NaN
min         0.000000      0.000000      -7.200000      -5.40000        NaN
25%         1.000000      2.000000      12.300000      16.60000        NaN
50%         5.000000      5.000000      16.700000      21.10000        NaN
75%         7.000000      7.000000      21.600000      26.40000        NaN
max         9.000000      9.000000      40.200000      46.70000        NaN

        RainTomorrow
count         142193
unique             2
top               No
freq          110316
mean             NaN
std              NaN
min              NaN
25%              NaN
50%              NaN
75%              NaN
max              NaN

[11 rows x 23 columns]

In [32]:
# Valores nulos por columna
print(df.isnull().sum())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [ ]:
# Se lee dataset con coordenadas y se mergea para asociar cada ciudad a su lat y long
df_coords = pd.read_csv('weatherAUS-geo-coordinates.csv')  # Asegúrate del nombre correcto del archivo

df = df.merge(df_coords, left_on='Location', right_on='city', how='left')
df = df.drop(columns=['city'])
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,latitude,longitude
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,-36.080780,146.916473
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,-36.080780,146.916473
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,-36.080780,146.916473
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,-36.080780,146.916473
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,-36.080780,146.916473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No,-24.485318,130.928669
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No,-24.485318,130.928669
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No,-24.485318,130.928669
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No,-24.485318,130.928669
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,-24.485318,130.928669